/* HelpBar
*******************************/

.w-help-bar-item {
	background-repeat: no-repeat;
	background-position: 4px 50%;
	line-height: 30px;
	border-radius: 5px;
}

.w-help-bar-item._back {
	background-image: url(help-bar-item-back.png);
	padding-left: 26px;
	padding-right: 7px;
}

.w-help-bar-item._pagination,
.w-help-bar-item._ok {
	padding-left: 40px;
	padding-right: 7px;
}

.w-help-bar-item._pagination {
	background-image: url(help-bar-item-pagination.png);
}

.w-help-bar-item._ok {
	background-image: url(help-bar-item-ok.png);
}

.w-help-bar-item._red,
.w-help-bar-item._green,
.w-help-bar-item._yellow,
.w-help-bar-item._blue {
	padding-left: 43px;
	padding-right: 7px;
}

.w-help-bar-item._red {
	background-image: url(help-bar-item-red.png);
}

.w-help-bar-item._green {
	background-image: url(help-bar-item-green.png);
}

.w-help-bar-item._yellow {
	background-image: url(help-bar-item-yellow.png);
}

.w-help-bar-item._blue {
	background-image: url(help-bar-item-blue.png);
}

.w-help-bar-item._active {
	background-color: #00809c;
	color: #fff;
}

.w-help-bar {
	height: 43px;
	background: #fdfdfd;
	font-size: 21px;
}
	.w-help-bar__wrap {
		margin-right: 55px;
	}
	.w-help-bar .w-help-bar-item {
		margin-left: 30px;
	}
