/* HelpBar
*******************************/

.w-help-bar-item {
	background-repeat: no-repeat;
	background-position: 0 50%;
	line-height: 43px;
}
.w-help-bar-item._back {
	background-image: url(help-bar-item-back.png);
	padding-left: 22px;
}
.w-help-bar-item._pagination {
	background-image: url(help-bar-item-pagination.png);
	padding-left: 24px;
}
.w-help-bar-item._ok {
	background-image: url(help-bar-item-ok.png);
	padding-left: 36px;
}
.w-help-bar-item._red {
	background-image: url(help-bar-item-red.png);
	padding-left: 39px;
}
.w-help-bar-item._green {
	background-image: url(help-bar-item-green.png);
	padding-left: 39px;
}
.w-help-bar-item._blue {
	background-image: url(help-bar-item-blue.png);
	padding-left: 39px;
}
.w-help-bar-item._active {
	color: #00809c;
}

.w-help-bar {
	height: 43px;
	background: #fdfdfd;
	font-size: 21px;
}
	.w-help-bar__wrap {
		margin-right: 55px;
	}
	.w-help-bar .w-help-bar-item {
		margin-left: 30px;
	}
