/* AppList scene
*******************************/

.s-app-list {}
	.s-app-list .w-app-list {
		height: 450px;
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
	}

	.s-app-list__throbber-container {
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.5);
		display: none;
		position: absolute;
		top: 0;
		left: 0;
	}
		.s-app-list__throbber-container .w-zbui-throbber {
			position: absolute;
			top: 50%;
			left: 50%;
			margin-top: -44px;
			margin-left: -44px;
		}
