/* AppAdd scene
*******************************/

.s-app-add-input {}
	.s-app-add-input__title {
		text-align: center;
		font-size: 23px;
		font-weight: bold;
	}
	.s-app-add-input__address {
		position: relative;
		margin-top: 8px;
	}
	.s-app-add-input .w-button {
		position: absolute;
		top: 0;
		left: 100%;
		margin-left: 7px;
	}
	.s-app-add-input__input {
		width: 100%;
		font-size: 23px;
		box-sizing: border-box;
		padding: 7px;
		padding-right: 0;
		border: 1px solid #022a33;
	}
	.s-app-add-input__input._active {
		box-shadow: 0 0 5px #00809c;
	}
	.s-app-add-input__input:focus {
		outline: none;
	}
	.s-app-add-input__warning {
		font-size: 18px;
		color: #00809c;
		margin-top: 17px;
	}

.s-app-add {}
	.s-app-add .s-app-add-input {
		position: absolute;
		top: 50px;
		left: 200px;
		right: 200px;
	}
	.s-app-add .w-keyboard {
		position: absolute;
		right: 0;
		bottom: 50px;
		left: 0;
	}
