{{$ launcher.scenes.templates.abstractBase.abstractBase }}

<div class="s-abstract-base-head">
	<div class="s-abstract-base-head__title">
		<span class="s-abstract-base-head__name">AppLauncher</span>
		<span class="s-abstract-base-head__made">by Interfaced</span>
	</div>
	<div class="s-abstract-base-head__notice _add" data-component="{{% launcher.widgets.Notice, {}, notice }}">URL added</div>
</div>

<div class="s-abstract-base__content" data-export-id="{{@content}}"></div>
