.zb-body {
	font-family: 'PTSans', Arial, Helvetica, sans-serif;
}

.zb-layer-container {
	background: #fff;
	color: #000;
}

.embedding {
	overflow:hidden;
	position: absolute;
	height: 100%;
	width: 100%
}
